{% load static %}
<link rel="stylesheet" href="/static/language/style.css">
<script>
    let idNum = 0;
    function addFile(){
        deepCopy();
    }

    function deepCopy()  {
      const fileModule = document.getElementById('file_'+idNum);
      const newNode = fileModule.cloneNode(true);

      console.log(newNode)

      // node id 변경
      idNum++;
      newNode.id = 'file_' + idNum;

      // node 붙여넣기
      fileModule.after(newNode);
    }
</script>

<form action="upload" method="post" enctype="multipart/form-data">
    <span id="file_0">
        <fieldset>
            <legend><h1>파일 업로드</h1></legend>
            <input name="files" type="file">

        </fieldset>
        <div>
            정답 : <input name="answer" type="text">
        </div>
    </span>
    <button onclick="addFile()" type="button">파일 추가 </button>
    <div><input type="submit" value="업로드"></div>
</form>
    </form>